{% extends './base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>Código</td>
                <td>Título</td>
                <td>Descricão</td>
            </tr>
        </thead>
        {% for ideia in dados %}
            <tr>
                <td>{{ ideia._cod }}</td>
                <td>{{ ideia._titulo }}</td>
                <td>{{ ideia._descricao }}</td>
                <td><a href="/{{ ideia._cod }}" id="about">Detalhes</a></td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="/insert">Adicionar</a>
{% endblock %}