{% extends './base.html' %}
{% block content %}
    <form action="/usuario/cadastrar" method="post">
        <input type="text" name="nome" placeholder="Digite seu nome" required>
        <input type="email" name="email" placeholder="Digite seu email" required>
        <input type="password" name="senha" placeholder="Digite sua senha" required>
        <select name="opt">
            <option value="">Nenhum</option>
            {% for item in lista %}
                <option value="{{ item.id }}">{{ item.nome }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}