<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Page</title>
</head>
<body>
    <table>
        <thead>
            <th>Nome</th>
            <th>Email</th>
        </thead>
        {% for item in lista %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.email }}</td>
            <td><a href="atualizar/{{ item.id }}">Atualizar dados</a></td>
            <td><a href="deletar/{{ item.id }}">Deletar</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>